<div class="header">
  <div class="topbar navbar navbar-static navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand large">{{this.header.topbar.title}}</a>
      </div>
    </div>
  </div>
</div>